%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et

[
  {sasl, [
      {sasl_error_logger, false}
    ]},
  {ehrpc, [
      {client, [
          {services, [
              {yfm1, [
                  {url, "http://10.32.100.1:5566"}
                ]}
            ]}
        ]},
      {server, [
          {host, "127.0.0.1"},
          {port, 5566},
          {middlewares, [ehrpc_mfa]},
          {size, 5}
        ]}
    ]}
].
