%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et

[
  {sasl, [
      {sasl_error_logger, false}
    ]},
  {ehrpc, [
      {client, [
          {pools, [
              {yfm1, [
                  {endpoint, "tcp://10.32.100.1:5566"},
                  {size, 5}
                ]}
            ]}
        ]},
      {server, [
          {endpoint, "tcp://*:5566"},
          {middlewares, [ehrpc_mfa]},
          {size, 5}
        ]}
    ]}
].
